body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('/assets/img/explanada_3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.title{
    font-size: 80px;
    text-align: center;
    text-decoration-color: #FFFFFF;
    vertical-align: middle;
    margin-top: 250px;
    font-weight: lighter;
    letter-spacing: 4px;
}

.typed{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 23ch;
    margin: 0 auto;
    animation: typing 3s steps(30),
    blink 20s infinite step-end alternate ;
    overflow: hidden;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: lighter;
    text-decoration: #006100 underline;

}

.redesSociales{
    min-width: 50px;
    display: flex;
    justify-content:center ;
}

.redesSociales a {
    text-decoration: none;
    font-size: 15px;    
    width: 35px;
    height: 35px;   
    line-height: 35px;
    text-align: center;
    margin-top: 250px;
    margin-right: 25px;
    background: #006100;
    color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0, 0, .5);
    transition: all .4s ease-in-out ;
}

.redesSociales a:hover{
    transform: scale(1.2);
}

.foot{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

@keyframes typing {
    from {
        width:0
    }        
}

@keyframes blink{
    50% {border-color: transparent;}
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}