body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Estilos Home  */ 
.bg-img{
    background: no-repeat url('/assets/img/home.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.bg-img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    padding-left: 80px;
    margin-bottom: 50px;
}

.card-section{
    padding-top: 95px;
    flex-wrap: wrap;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
}

:root{
    --black: #333333;
    --black-2: #161616;
    --gray: #707070;
    --white: #ffffff;
}

.tarjeta{    
    max-width: 15em;
    width: 100%;
    border-radius: 25px;
    padding: 1.75em;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
}

.logo-cart{
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;

    & img{
        height: 20px;
        object-fit: cover;
    }

    &:hover{
        color: var(--black);
    }
}

.perfil{
    position: relative;
    height: 12em;

    & img{
        position: absolute;
        width: 18em;
        height: 18em;
        object-fit: cover;
        left: -15em;
        top: -2em;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease;
    }

    & img.active{
        opacity: 1;
    }    
}

.encuesta{
    position: relative;
    height: 12em;

    & img{
        position: absolute;
        width: 12em;
        height: 12em;
        object-fit: cover;
        left: -12em;
        top: 1em;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease;
    }

    & img.active{
        opacity: 1;
    }    
}

.panelC{
    position: relative;
    height: 12em;

    & img{
        position: absolute;
        width: 10em;
        height: 10em;
        object-fit: cover;
        left: -11em;
        top: 2em;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease;
    }

    & img.active{
        opacity: 1;
    }    
}

.info{
    & .name{
        font-size: 2em;
        font-weight: 500;
        color: var(--black-2);
    }

    & p{
        font-size: 0.8em;
        font-weight: 400;
        color: var(--black);
    }
}

.add-cart{
    position: relative;
    height: 3em;
    width: 100%;
    border-radius: 25px;
    margin-top: 1em;
    overflow: hidden;

    & .button-layer{
        position: absolute;
        height: 100%;
        width: 300%;
        background-image: linear-gradient(135deg, #77f501, #95be35, #77f501, #95be35  );
        transition: all 0.4s ease;
        border-radius: 25px;
        left: -100%;
    }

    &:hover .button-layer{
        left: 0;
    }

    & button{
        position: relative;
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--white);
    }
}
