body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('https://scontent.fmex10-2.fna.fbcdn.net/v/t1.6435-9/49898029_2641064002578133_8652737738400858112_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGTejSTxH9hkqgS5Q8BPoyHQpsenng5TT5Cmx6eeDlNPnGsv9BDRVy9dunwg5rL0wBj9cavrniuffcuVx7Q9-KR&_nc_ohc=DxV1Z7XygEgAX9hJ0rc&_nc_ht=scontent.fmex10-2.fna&oh=00_AfANsBoajJMlNcJ3VjnqL9IOC0GUxtQZtjh-5k3Vj5ZApw&oe=6545A9C0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

.title{
    font-size: 80px;
    text-align: center;
    text-decoration-color: #FFFFFF;
    vertical-align: middle;
    margin-top: 200px;
    font-weight: lighter;
    letter-spacing: 4px;
}

.typed{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 23ch;
    margin: 0 auto;
    animation: typing 3s steps(30),
    blink 20s infinite step-end alternate ;
    overflow: hidden;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: lighter;
    text-decoration: #006100 underline;

}

.redesSociales{
    min-width: 50px;
    display: flex;
    justify-content:center ;
}

.redesSociales a {
    text-decoration: none;
    font-size: 15px;    
    width: 35px;
    height: 35px;   
    line-height: 35px;
    text-align: center;
    margin-top: 135px;
    margin-right: 25px;
    background: #006100;
    color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0, 0, .5);
    transition: all .4s ease-in-out ;
}

.redesSociales a:hover{
    transform: scale(1.2);
}

.foot{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

@keyframes typing {
    from {
        width:0
    }        
}

@keyframes blink{
    50% {border-color: transparent;}
}

@media (min-width: 600px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 600px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}